* {
    background-color: #191919;
    font-family: 'Poppins', sans-serif;
} 
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');



* {
    font-family: 'Poppins', sans-serif;
}

#menu {
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 30px;
}

.menu-item {
    font-size: 20px;
    color: #FF4545;
    margin: 0px 5px;
    text-decoration: none; 
}

.menu-item:hover {
    text-decoration: underline;
}

.centered {
    /* margin: 50px auto 20px auto;  */
    padding: 20px;
    color: #ffffff;
}


.header {
    text-align: right; /* Aligns the header text to the right */
    margin-right: 13%; /* Adjust the right margin to move it to the right */
    font-size: 60px;
    font-family: 'Poppins', sans-serif;
    color: #841515;
    display: block;
}

.paragraph {
    text-align: justify; /* Aligns the paragraph text justified */
    width: 35%;
    padding-left: 53%;
    margin-top: -520px;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
}

.image {
    width: 450px; /* Set a specific width for the image */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensures the image is treated as a block element */
    margin: -70px 0px 0px 200px; /* Adjust the margin to center the image horizontally */
    position: relative; /* Allows for further positioning adjustments */
    border-radius: 10px;
}


.rectangle {
    width: 100%; /* Adjust width as needed */
    height: 300px; /* Adjust height as needed */
    background-color: #FF4545; /* Rectangle background color */
    color: white; /* Text color */
    /* line-height: 150px; Centers text vertically */
    margin-top: 150px;
    font-family: 'Poppins', sans-serif;
    padding: 20px 80px;
    color: white;
}

.rectangle h1 {
    font-size: 24px; /* Space between header and paragraph */
    text-align: left;
    margin-top: 0;
    margin-bottom: 20px;
    padding: 20px 100px;
    background-color: #FF4545;
    width: 80%;
}

.rectangle p {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    padding: 20px 100px;
    background-color: #FF4545;
    width: 80%;

}
*:focus {
    outline: none;
}



    