.gallery {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap; /* Ensure images stay in a single line */
  }
  
  .gallery-container {
    display: inline-block;
  }
  
  .gallery img {
    max-width: 100%;
    height: auto;
    /* You can set more styles for images here */
  }
  







