.first-part {
    color: white; /* Change the color of 'an' */
    text-decoration: none;
}

#an {
    color: #FF4545; /* Change the color of '.' */
}

#an:hover .first-part {
    color: #FF4545; /* Change 'an' color on hover */
}

#an:hover {
    color: white; /* Change '.' color on hover */
}

* {
    background-color: #191919;
} 
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');



body {
    font-family: 'Poppins', sans-serif;
}

.an {
    color: #FF4545; 
}

#menu {
    padding: 5px 10px;
    position: absolute;
    right: 0;
    top: 30px;
}

.menu-item {
    font-size: 20px;
    color: #FF4545;
    margin: 0px 5px;
    text-decoration: none; 
}

.menu-item:hover {
    text-decoration: underline;
}

.pdf-link {
    margin-top: 80px;
    margin-left: 400px; /* Add margin as needed */
}



#main-footer {
    /* Your footer styles */
    /* Ensure it's fixed at the bottom of the page */
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #FF4545;
    padding: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
    transition: opacity 0.3s ease; /* Add transition effect for smooth display */
}





footer {
    background-color: #FF4545;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF4545;
}

.left-content {
    text-align: left;
    color: white; /* Text color */
    font-weight: bold;
    background-color: #FF4545;

}

.right-content a {
    text-decoration: none;
    color: white;
    background-color: #FF4545;
    padding: 20px 20px; /* Padding for links */
    transition: background-color 0.3s ease;
    font-weight: bold;
    background-color: #FF4545;
}

.right-content a:hover {
    background-color: black; /* Change background color on hover */
}

.first-part {
    color: white; /* Change the color of 'an' */
    text-decoration: none;
}

#an {
    color: #FF4545; /* Change the color of '.' */
}

#an:hover .first-part {
    color: #FF4545; /* Change 'an' color on hover */
}

#an:hover {
    color: white; /* Change '.' color on hover */
}
